*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
body header h1{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 15px;
    color: lightcoral;
    background-color: rgb(232, 219, 221);

}
body header div{
    width: 30%;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    border: 3px double lightblue;
    background-color: lightcyan;
    font-size: 1.5rem;
    color: lightseagreen;
}
main{
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .git,.github, .branches, .workflow{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .git p{
    align-self: flex-start;
}
main .commands{
    width: 90%;
    padding: 25px;
    border: 5px double lightseagreen;
    border-radius: 20px;
}
main section h2{
    margin: 5px 0;
    color:lightsalmon;
    font-size: 3rem;
    border: 2px solid lightcoral;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: rgb(214, 238, 253);

}
main section h3{
    margin: 5px 0;
    color:rgb(60, 124, 145);
    font-size: 2rem;
}
main section p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 10px 0;
    color: rgb(58, 17, 54);
}
main ul{
    padding-left: 20px;
    margin: 15px 0;
}
main ul li{
    margin-top: 5px;
    font-size: 1.4rem;
}
main ul li b{
    color: lightcoral;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    background-color: lightgray;
    font-size: 1.5rem;
}
footer p{
    margin: 10px;
}
footer div{
    width: 90%;
    height: 100%;
}
footer div a{
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
    border: 2px solid lightskyblue;
    color: lightcoral;
    text-decoration: none;

}

/* Agregando Media Queries */

@media screen and (max-width: 900px){

    main .git,.github, .branches, .workflow{
        width: 95%;
    }    
    body header div{
        width: 50%;
    }
}
@media screen and (max-width: 500px){

    main .git,.github, .branches, .workflow{
        width: 100%;
    }    
    body header div{
        width: 70%;
    }
}